header {
    background-image: url("images/pic_1.jpg");
}

p {
    display: flex;
    flex-flow: wrap;
}

.navigation {
    display: flex;
    justify-content: end;
    flex-flow: row-reverse wrap;
    align-content: space-between;
    color: white;
}

.get_schooled {
    color: white;
}

.nav_pad {
    padding-right: 75px;
    padding-left: 75px;
}

.profile {
    border-radius: 100%;
    max-width: 150px;
    max-height: 237px;
}

.pros{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: center;
    max-width: 1009px;
    max-height: 237;
}
.splat {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}