* {
    font-family: 'Source Sans Pro', sans-serif;
}
header {
    background-image: url("images/pic_1.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    width: auto;
    height: 1093px;
}
.quote {
    background-color:#C271FF;
    color: white;
    height:392px;
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    align-content:center;
}
.quote div{
    width: 943px;
}
.quote img{
    width:150px;
    height:150px;
    border-radius: 100%;
}
.quote p {
    margin-left: 40px;
}
.bold{
    font-weight:700;
}
.navigation {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    width: 234px;
    height: 15px;
    font-weight: 700;
}
.nav_pad {
    padding-right: 75px;
    padding-left: 75px;
}

.splat {
    display:flex;
    flex-flow: column wrap;
    align-content: center;
    color:white;
}
.splat h1 {
    font-weight: 700;
    font-size:120px;
}
.splat p {
    display:flex;
    justify-content: center;
    word-spacing: 4.5rem;
    font-weight: 700;
    font-size: 16px;
}
.splat button {
    background-color:#C271FF;
    padding: 15px;
    border-radius: 22px;
    box-shadow: 0px 2px 20px 0px #00000080;
    width: 162px;
}
.dif{
    color:#C271FF;
}
.top {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    width: 1103px;
    height: 30px;
    position: relative;
    top: 35px;
    left: 171px;
    color:white;
}
.pro{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    color:white;
}
.individuals{
    width: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.individuals div{
    width: 150px;
    text-align: center;
}
.individuals img{
    width:150px;
    border-radius: 100%;
}
.tutorials h1{
    font-weight:300;
    size: 32px;
    text-align: center;
}
.tutorials1{
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
}
.pic{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.clickbait{
    width: 255px;
}
.p1{
    color: #07162980;
}
.phil{
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
}